.home-page {
    background-color: #3C6997;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: 100%;
    text-align: center;
}
.home-page header {
    background-color: #3C6997;
    padding: 0.25rem;
}
.home-page  header h1 {
    color: white;
}

.home-page  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .home-page li {
    float: left;
    border: 1px solid white;
}

.home-page li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.home-page input {
    height: 50%;
    width: 80%;
    margin: 0.75rem 0;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2px 2px;
}
.home-page .search-btn {
    background-color: #3C6997;
    border: #e6e6e6 solid 1px;
    border-radius: 3px;
    color: white;
    margin: 0.3rem;
    padding: 0.2rem;
}

.home-page ul {
    margin-left: 1.5rem;
}


.home-container {
    align-items: center;
    background-color: #3C6997;
    color: white;
}

.home-container .about {
    font-family: sans-serif;
    font-size: 1.5rem;
}

figure img {
    width: 90%;
    padding: 1rem;
}

.home-container#second p a {
    color: #f5f7f7;
}

.home-page .form {
    background-color: #3C6997;
    color: white;
    border-bottom: 1.5px solid white;
    display: flex;
    flex-direction: column;
    border-top: 1.5px solid white;
}
.home-page .form form input {
    width: 40%;
}

@media only screen and  (min-width: 798px) {

.home-page {
    text-align: initial;
}
.home-page nav {
    display: flex;
}

.home-page input {
    width: 35%;
}

.home-container {
    display: flex; 
    border-bottom: 1.5px solid white;
}


.home-container figure {
    width: 35%;
}
.home-container figure img {
    width: 100%;
}

}