.new_event-container {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}
.new_event-container .form {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
 }

 .new_event-container .form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.new_event-container .form form label {
    padding-top: 5px;
}
.new_event-container .form form input {
    padding-bottom: 5px;
}

#post-button {
    width: 20%;
    margin: 10px 0;
    background-color: #0c0a88;
    color: #ffffff;
    padding: 3px;
}